.featured{
    background-color: yellow;
}
/* .main-content{
    width: 700px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0px;
}
.categories.category{
    display: inline block;
    padding: 40px;
    border: 1px solid;
    border-radius: 10px;
}
.joke-wrapper{
    padding: 15px 10px;

} */
